---
---

$screen-sm: 600px;
$screem-md: 900px;

.remix {
    width: 24px;
    height: 24px;
    fill: #555;
}

:root {
    --fg: #322;
    --mg: #eec;
    --bg: #ffe;
    @media (prefers-color-scheme: dark) {
        --fg: #ffe;
        --mg: #211;
        --bg: #322;
    }
}

:target {
    scroll-margin-top: 4rem;
}

html {
    font-family: 'Inter', '', system-ui, -apple-system, sans-serif;
    font-size: 14pt;
    background-color: var(--bg);
    color: var(--fg);
    scroll-behavior: smooth;
}

a,
button {
    transition: all 0.2s;
    color: var(--fg);
    &:hover {
        color: var(--bg);
        background-color: var(--fg);
    }
}

nav {
    position: fixed;
    @media (max-width: $screen-sm) {
        position: static;
    }
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        text-decoration: none;
        @media (max-width: $screen-sm) {
            flex-direction: column;
            gap: 0;
            padding: 0.5rem 1rem;
            font-size: smaller;
        }
    }
}

header {
    padding: 4rem 0 2rem;
    text-align: center;
    background-image: url('../bg/pieces.svg');
    @media (prefers-color-scheme: dark) {
        background-image: url('../bg/pieces-dark.svg');
    }
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    border-bottom: 1px solid;
    h1 {
        font-size: 64pt;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: $screen-sm) {
        flex-direction: column;
        align-items: stretch;
    }
    gap: 1rem;
    aside {
        position: sticky;
        @media (max-width: $screen-sm) {
            position: static;
        }
        top: 4rem;
        padding: 1rem;
        ul {
            list-style: none;
        }
        & > ul {
            padding: 0;
        }
    }
    article {
        flex: 1;
        max-width: $screem-md;
        padding: 1rem;
    }
}

footer {
    padding: 2rem;
    border-top: 1px solid;
    text-align: center;
    font-size: small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Metropolis', sans-serif;
}

pre,
code {
    background-color: var(--mg);
    font-family: 'FiraCode';
}
pre {
    padding: 1rem;
    overflow: scroll;
}

button {
    border: none;
    margin: 0.5rem;
    padding: 1rem;
    font-size: inherit;
    background-color: var(--mg);
}
